RewriteEngine On
RewriteRule ^home$  index.php
RewriteRule ^cart$  index.php?controller=cart
RewriteRule ^news$  index.php?controller=news
RewriteRule ^contact$  index.php?controller=contact
#trang danh muc san pham
RewriteRule ^products/category/(.*)/(.*)$  index.php?controller=products&action=category&catId=$1
#trang chi tiet san pham
RewriteRule ^products/detail/(.*)/(.*)$  index.php?controller=products&action=detail&id=$1
#trang lien he
RewriteRule ^introduce$  index.php?controller=introduce
#trang danh kuc san pham
RewriteRule ^category$  index.php?controller=products&action=category
#trang login 
RewriteRule ^login$		index.php?controller=account&action=login
#trang logout 
RewriteRule ^logout$		index.php?controller=account&action=login
#trang register 
RewriteRule ^register$		index.php?controller=account&action=register
#trang gio hang
RewriteRule ^cart$	index.php?controller=cart